.data-analytics-page .padding-part-to-part {
  padding-top: 70px;
  padding-bottom: 70px;
}

.data-analytics-page ul li {
  margin-bottom: 15px;
}

.data-analytics-page ul li:last-child {
  margin-bottom: 0;
}

.data-analytics-gray {
  background-color: #efefef;
  padding-top: 68px;
  padding-bottom: 81px;
}

.data-analytics-gray .content-description {
  margin-bottom: 0;
}

.data-analytics-page .serviceCircleImg {
  background: #ffffff;
  line-height: 70px;
}

.data-analytics-page .serviceCircleImg img {
  width: 87%;
  margin: auto;
  border-radius: 100%;
}

.big-data-solution-section {
  background-color: #f7fafb;
}

.social-media-monitoring-banner #aboutImage, .social-media-monitoring-banner #aboutTitle {
  height: 620px;
}

.mb-20 {
  margin-bottom: 20px;
}

/** Blog Page **/

.blog-banner #technologyImage {
  height: 400px;
}

.blog-banner #technologyTitle {
  height: 430px;
}

.blog-green-btn {
  font-family: HelveticaNeue;
  text-transform: uppercase;
  border: 1px solid #44b7a2;
  padding: 5px 20px;
  font-size: 16px;
  color: #fff;
  letter-spacing: .5px;
  background-color: #44b7a2;
  display: inline-block;
  margin-top: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog-green-btn:hover, .blog-green-btn:focus {
  text-decoration: none;
  background-color: #fff;
  color: #44b7a2;
}

.blog-page .text-center .technology-detail-title {
  text-align: center;
}

.img-group {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  margin: 20px 0;
  align-content: center;
  align-items: center;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
}

.img-group img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px;
}

.img-group.maxSize img {
  max-width: 260px;
}

.img-group.maxSizeBig img {
  max-width: 430px;
}

.blog-page table {
  width: 100%;
  max-width: 60%;
  border: solid 1px #9bbb59;
  border-spacing: 0px;
  text-align: center;
  margin: 25px auto;
}

.blog-page table th, .blog-page table td {
  padding: 12px 15px;
  vertical-align: middle;
}

.blog-page table th {
  background: #9bbb59;
  color: #fff;
  text-align: center;
}

.blog-page table td {
  color: #000;
  border-right: solid 1px #9bbb59;
  border-bottom: solid 1px #9bbb59;
}

.blog-page table td:last-child {
  border-right: none;
}

.blog-page table tr:last-child td {
  border-bottom: none;
}

.blog-page .technology-detail-title {
  margin-bottom: 25px;
}

.blog-page .technology-detail-desc {
  line-height: 1.7;
  margin-bottom: 30px;
}

.blog-page ul li {
  margin-bottom: 15px;
}

.blog-footer-outer .case-content-subtitle {
  font-family: HelveticaNeue-Light;
  text-align: center;
  letter-spacing: 0;
  padding-bottom: 20px;
  color: #2f3841;
  font-size: 28px;
}

.blog-footer-outer #request-info-section-btn {
  text-align: center;
}

.blog-footer-outer .white-btn a, .blog-page .white-btn a:hover, .blog-page a.white-btn {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 37px;
  padding: 8px 15px;
  font-size: 12px;
  letter-spacing: .39px;
  background-color: #2abf9e;
  color: #fff;
}

.blog-footer-outer {
  background: #f7fafb;
  text-align: center;
}

.blog-page img{
  max-width: 100%;
}


@media screen and (max-width:767px) {

  .img-group{
    flex-direction: column;
    padding: 10px;
  }
  .img-group img{
    margin: 0 auto !important;
  }

  .img-group img + *{
    margin-top: 15px !important;
  }

  .img-group.maxSizeBig img, .img-group.maxSize img {
    max-width: 100%;
}

  .blog-footer-outer .case-content-subtitle{
        font-size: 18px;
        padding-bottom: 8px;
  }


  .blog-page .technology-display-except-mobile{
    display: block !important;

}

  .blog-page .technology-display-except-mobile ul {
    display: flex !important;
    flex-direction: column-reverse;
    margin: 0 0 30px;
  }
  .blog-page .technology-display-except-mobile ul:nth-child(even) {

    flex-direction: column;

  }

  .blog-page .technology-display-except-mobile ul  .blog-green-btn{
    margin-top: 0;
  }



  .blog-page.blog-inner-page .technology-display-except-mobile {
    display: block !important;
    flex-direction:inherit;
    margin: 0;
  }
  .blog-page .technology-flex-item-content, .blog-page .technology-detail-img, .blog-page .technology-flex-item-img {
    width: 100%;
  }
  .blog-page .technology-flex-item-content {
    margin-bottom: 30px;
  }
}

@media screen and (max-width:767px) and (orientation : landscape){

.blog-page .technology-flex-item-img{
  text-align: center;
}

  .blog-inner-page img,   .blog-page .technology-flex-item-img img,   .img-group.maxSizeBig img, .img-group.maxSize img{
    max-width: 400px;
    margin: 0 auto;
  }

}
